.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  cursor: default;
}

.img {
  width: 50vw;
  object-fit: cover;
  object-position: top;
}

.inputSide {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.title {
  font-family: "FredokaOne", Rubick;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 65px;
  color: #6d0088;
}

.divInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  background: #f4f5f9;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  font-size: 18px;
  width: 75%;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.btn {
  align-self: center;
  font-size: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  width: 225px;
  min-height: 36px;
  border: 1px solid #6d0088;
  border-radius: 16px;
  color: #6d0088;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.btn:hover {
  border-color: transparent;
  color: #fff;
  background-color: #6d0088;
}
