.alternativeContainer {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0 1.5rem 0;
  padding: 2rem 1rem 2rem 4.5rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.alternativeContainerSelected {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0 1.5rem 0;
  margin: 0.5rem 0 1.5rem 0;
  padding: 1.625rem 1rem 2rem 4.5rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-top: 6px solid #0094ff;
}

.alternativeContainerDragging {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0 1.5rem 0;
  padding: 1.625rem 1rem 2rem 4.5rem;
  background-color: #ffffff8e;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-top: 6px solid #0095ff8e;
  max-height: 5rem;
  overflow: hidden;
}

.drag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  left: 0.8rem;
  border: 1px solid #0094ff;
  border-radius: 25%;
  padding: 1.5rem 1.2rem;
}

.drag:hover {
  border: 1px solid #000000;
}

.dragAlternative {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

.alternativeContainerLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem 1rem 0;
  height: 20rem;
  width: 20rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleInput {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  font-size: 15px;
  width: 20rem;
  padding: 0.4rem 0.7rem;
}

.titleInputDragging {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  background-color: #ffffff8e;
  border-radius: 8px;
  font-size: 15px;
  width: 20rem;
  padding: 0.4rem 0.7rem;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 2rem 1rem;
  width: 12rem;
}

.mapField {
  display: flex;
}

.alternativeBody {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  width: 12rem;
}

.alternativeBody:focus {
  outline: none;
}

.addAlternative {
  width: 15rem;
  color: #0094ff;
  font-weight: 500;
  font-size: 15px;
}

.cleanAlternative {
  width: 15rem;
  color: #0094ff;
  font-weight: 500;
  font-size: 15px;
}

.deleteAlternative {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
}

.deleteIcon {
  width: 1rem;
  height: 1rem;
}

.deleteAlternativeImg {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.deleteIconImg {
  width: 1rem;
  height: 1rem;
  display: flex;
}
