.alternativeContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 2rem 1rem 2rem 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.alternativeContainerSelected {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 1.625rem 1rem 2rem 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-top: 6px solid #0094ff;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.titleInput {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  font-size: 15px;
  width: 20rem;
  padding: 0.4rem 0.7rem;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 2rem 1rem;
  width: 12rem;
}

.mapField {
  display: flex;
}

.alternativeBody {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  width: 12rem;
}

.alternativeBody:focus {
  outline: none;
}

.addAlternative {
  width: 15rem;
  color: #0094ff;
  font-weight: 500;
  font-size: 15px;
}

.deleteAlternative {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
}

.deleteIcon {
  width: 1rem;
  height: 1rem;
}
