.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.7rem 1rem;
  color: #000;
  font-weight: 600;
}

.imgSide{
  cursor: pointer;
}

.link {
  padding: 16px;
  cursor: pointer;
}
