.container {
  justify-content: space-between;
  height: 100vh;
}

.body {
  height: 88vh;
}

.filterDiv {
  display: flex;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
}

.filterDivLeftSide {
  display: flex;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
}

.filterDivLeftSide > div {
  margin-right: 1rem;
}

.filterDivRightSide {
  display: flex;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
  justify-content: flex-end;
}

.filterDivRightSide > div {
  margin-right: 1rem;
}

.inputSearch {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  padding: 0.3rem 0.7rem;
}

.inputSearchDiv {
  display: flex;
  align-items: center;
}

.inputSearchTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-right: 0.5rem;

  color: #000000;
}

.cardsDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem 2rem 1rem;
}

.cardsDiv > div {
  margin: 1rem 2rem 0.5rem 1rem;
}
