.container {
  justify-content: space-between;
  height: 100vh;
}

.pageContainer {
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 1rem 2.5rem;
}

.titleForms {
  margin: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;

  color: #000000;
}

.formsContainer {
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

.checkbox {
  font-weight: 400;
  font-size: 1rem;
  line-height: 33px;
}

.checkbox > span {
  margin-left: 0.5rem;
}

.buttonDiv {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonCancel {
  padding: 0 3rem;
  border: transparent;
  border-radius: 15px;
  height: 40px;
  background-color: #FF4040;
  font-size: 1.1rem;
  text-align: center;
  transition: all .6s ease-in-out;
  color: #ffffff;
}

.buttonCancel:hover {
  transition: 0.2s;
  opacity: 0.8;
}

.buttonRegister {
  padding: 0 3rem;
  border: transparent;
  border-radius: 15px;
  height: 40px;
  background-color: #0094FF;
  font-size: 1.1rem;
  text-align: center;
  transition: all .6s ease-in-out;

  color: #ffffff;
}

.buttonRegister:hover {
  transition: 0.2s;
  opacity: 0.8;
}

.buttonUpload {
  margin-top: 1rem;
  cursor: pointer;
  background: grey;
  border-radius: 10px;
  border: none;
  padding: .5rem 2.5rem;
  height: auto;

  font-weight: 400;
  font-size: 1rem;
  line-height: 33px;
  text-align: center;

  color: #ffffff;
}

.buttonUpload > span {
  margin-left: 1rem;
}

.buttonUpload:hover {
  transition: 0.2s;
  opacity: 0.8;
}
